---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = '';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://play.google.com/store/apps/details?id=com.aboutsvc.varscalculator';

const metadata = {
  title: 'VarsCalculator | Simplify your calculations with custom variable expressions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
   
    image={{
      src: '~/assets/images/default.png',
      alt: 'VarsCalculator Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">VarsCalculator App</span>: <br /> smart calculations <span
        class="hidden xl:inline">made simple</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Streamline your calculations effortlessly: your ultimate tool for customized expressions and variable-based solutions.
      </span>
      Download now and experience the power of smarter math at your fingertips!
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <!-- <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button> -->

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="guide"
    title="How to use VarsCalculator App?"
    subtitle="Tired of recalculating complex formulas every time? VarsCalculator App offers an innovative solution. With saved variable expressions and a quick calculation history, you can now solve problems in seconds. Save your expressions today and transform the way you calculate!"
    tagline="Step-by-step guide"
    columns={2}
    items={[
      {
        title: 'Download and install VarsCalculator App',
        description: `Get started by downloading our intuitive app from your device's app store and enjoy seamless calculations.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Set up variables',
        description:
          'Define your custom variables (X, Y, Z) and save your frequently used expressions effortlessly.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Explore saved expressions',
        description: 'Organize and manage your saved mathematical expressions for quick access anytime.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Calculate with ease',
        description: `Input values for your variables, retrieve results instantly, and boost your productivity with accurate calculations!`,
        icon: 'tabler:square-number-4',
      },
    ]}
    
  />

  <!-- Content Widget **************** -->

  <Content
    id="features"
    isReversed
    items={[
      {
        title: 'User-friendly interface',
        description:
          'An intuitive and simple design that makes it easy to perform calculations and navigate through saved expressions.',
        icon: 'tabler:wand',
      },
      {
        title: 'Custom variable expressions',
        description:
          'Save and customize expressions with variables (X, Y, Z) to suit your unique calculation needs.',
        icon: 'tabler:settings',
      },
      {
        title: 'Quick calculation history',
        description:
          'Access your past calculations effortlessly, enabling you to track and reuse them without starting from scratch.',
        icon: 'tabler:template',
      },
      {
        title: 'Instant results',
        description: 'Enter variable values and instantly obtain accurate results, streamlining complex and repetitive calculations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: '~/assets/images/feature.png',
      alt: "VarsCalculator's Feature Image",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Offline Access',
        description: 'Offer the option for users to download purchased templates for offline use.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Secure Cloud Storage',
        description:
          'Provide cloud storage for purchased templates, ensuring users can access and back up their templates from anywhere securely.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Regular Updates',
        description: 'Continuously add new templates and features to keep the app fresh and engaging for users.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Wishlist',
        description: `Allow users to create a wishlist of templates they're interested in, making it easier for them to revisit and potentially purchase later.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Still have some doubts?"
    id="faq"
    items={[
      {
        title: 'What does this app do?',
        description:
          'VarsCalculator App allows you to save, manage, and calculate custom expressions using variables (X, Y, Z), making repetitive and complex calculations effortless.',
      },
      {
        title: 'How can this app solve my problem?',
        description:
          'It simplifies calculations by letting you save frequently used formulas and quickly update results by changing variable values, saving you time and reducing errors.',
      },
      {
        title: 'Is it available for my device?',
        description: `VarsCalculator App is designed for compatibility with most smartphones and tablets, ensuring you can calculate on the go, anytime.`,
      },
      {
        title: 'What makes this app different from others?',
        description:
          'VarsCalculator App stands apart with its innovative variable-based calculator, custom expressions, and an integrated history feature, all wrapped in an intuitive and efficient design.',
      },
      {
        title: 'Are there any costs involved?',
        description:
          'The app is free to download and includes the use of variable X and basic features at no cost. For added functionality, such as using variables Y and Z and enjoying an ad-free experience, a subscription plan is available.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download VarsCalculator App now!"
    subtitle="Save custom expressions, simplify your calculations, and boost your productivity with ease."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <!-- <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button> -->

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
